<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="DotNetCoreNext" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />
    <add key="AspNetCoreNext" value="https://dotnet.myget.org/F/aspnetcore-dev/api/v3/index.json" />
    <add key="RxNext" value="https://dotnet.myget.org/F/rx/api/v3/index.json" />
    <add key="MsBuildNext" value="https://dotnet.myget.org/F/msbuild/api/v3/index.json" />
    <add key="BlazorNext" value="https://dotnet.myget.org/F/blazor-dev/api/v3/index.json" />
  </packageSources>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
</configuration>
